 .u-section-1 {
  background-image: linear-gradient(115deg, #55bdfc, #2137cb);
}

.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-image-1 {
  width: 481px;
  height: 771px;
  object-position: 50% 0.92%;
  margin: 78px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-shadow: 4px 4px 17px rgba(0,0,0,0.7);
  text-transform: none;
  font-size: 4.5rem;
  line-height: 1.1;
  font-weight: 700;
  margin: -659px 283px 0 60px;
}

.u-section-1 .u-text-2 {
  text-shadow: 1px 0px 3px rgba(0,0,0,1);
  font-size: 1.25rem;
  font-weight: normal;
  margin: 26px 570px 0 60px;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 34px auto 60px 60px;
  padding: 20px 50px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1 .u-image-1 {
    width: 495px;
    height: 916px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -703px;
    margin-right: 138px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 430px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 780px;
  }

  .u-section-1 .u-image-1 {
    width: 456px;
    height: 714px;
    margin-top: 66px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -522px;
    margin-right: 203px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 14px;
    margin-right: 218px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-image-1 {
    width: 371px;
    height: 700px;
    margin-top: 83px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -501px;
    margin-right: 139px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 23px;
    margin-right: 226px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 23px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 531px;
  }

  .u-section-1 .u-image-1 {
    width: 221px;
    height: 474px;
    object-position: 50% 0%;
    margin-top: 57px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1.4;
    font-size: 1.875rem;
    margin-top: -366px;
    margin-right: 92px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    font-weight: 500;
    margin-top: 0;
    margin-right: 92px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 12px;
    padding: 9px 20px 11px 18px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 84px;
}

.u-section-2 .u-shape-1 {
  background-image: linear-gradient(#eaf4fd, #aed3f6);
  width: 698px;
  height: 149px;
  margin: -74px 15px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -105px 338px 0 550px;
}

.u-section-2 .u-icon-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(9,22,62,0.4);
  width: 76px;
  height: 76px;
  margin: -41px auto 0 392px;
  padding: 17px;
}

.u-section-2 .u-icon-2 {
  width: 38px;
  height: 38px;
  margin: -63px auto 0 501px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -9px 386px 0 552px;
}

.u-section-2 .u-icon-3 {
  width: 38px;
  height: 38px;
  margin: -61px 248px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -47px 103px 0 907px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 91px 43px 907px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 66px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: -83px;
    margin-right: 26px;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -104px;
    margin-right: 372px;
    margin-left: 325px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -47px;
    margin-left: 178px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -67px;
    margin-left: 275px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: -3px;
    margin-right: 372px;
    margin-left: 325px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -67px;
    margin-right: 275px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -38px;
    margin-right: 86px;
    margin-left: 678px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin: -3px 86px 37px 678px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 54px;
  }

  .u-section-2 .u-shape-1 {
    width: 529px;
    height: 111px;
    margin-top: -58px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    margin-top: -84px;
    margin-right: 242px;
    margin-left: 274px;
  }

  .u-section-2 .u-icon-1 {
    width: 64px;
    height: 64px;
    margin-top: -36px;
    margin-left: 149px;
    padding: 14px;
  }

  .u-section-2 .u-icon-2 {
    width: 29px;
    height: 29px;
    margin-top: -57px;
    margin-left: 239px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-top: -1px;
    margin-right: 291px;
    margin-left: 276px;
  }

  .u-section-2 .u-icon-3 {
    width: 29px;
    height: 29px;
    margin-top: -53px;
    margin-right: 197px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: -32px;
    margin-right: 8px;
    margin-left: 531px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin: 0 8px 28px 531px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 53px;
  }

  .u-section-2 .u-shape-1 {
    width: 472px;
    margin-right: 11px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 186px;
    margin-left: 133px;
  }

  .u-section-2 .u-icon-1 {
    width: 58px;
    height: 58px;
    margin-top: -33px;
    margin-left: 27px;
    padding: 12px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -55px;
    margin-left: 97px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 0;
    margin-right: 199px;
    margin-left: 133px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -54px;
    margin-right: 145px;
  }

  .u-section-2 .u-text-3 {
    margin-top: -31px;
    margin-right: 11px;
    margin-left: 398px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -1px;
    margin-right: 11px;
    margin-left: 402px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 36px;
  }

  .u-section-2 .u-shape-1 {
    width: 322px;
    height: 79px;
    margin-top: -44px;
    margin-right: auto;
    margin-left: 19px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.75rem;
    margin-top: -54px;
    margin-right: auto;
    margin-left: 75px;
  }

  .u-section-2 .u-icon-1 {
    width: 40px;
    height: 40px;
    margin-top: -24px;
    margin-left: -1px;
    padding: 10px;
  }

  .u-section-2 .u-icon-2 {
    width: 17px;
    height: 17px;
    margin-top: -33px;
    margin-left: 53px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    margin-right: auto;
    margin-left: 75px;
  }

  .u-section-2 .u-icon-3 {
    width: 17px;
    height: 17px;
    margin-top: -33px;
    margin-right: 111px;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 44px;
    margin-left: auto;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
    margin-right: 37px;
    margin-bottom: 21px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: linear-gradient(#eaf4fd, #55bdfc);
}

.u-section-3 .u-sheet-1 {
  min-height: 1827px;
}

.u-section-3 .u-text-1 {
  font-weight: 400;
  margin: 81px 0 0;
}

.u-section-3 .u-image-1 {
  width: 356px;
  height: 912px;
  object-position: 50% 0%;
  margin: 34px auto 0;
}

.u-section-3 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(9,22,62,0.4);
  background-image: none;
  width: 800px;
  margin: -524px auto 60px;
}

.u-section-3 .u-container-layout-1 {
  padding: 29px 0;
}

.u-section-3 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0 48px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1964px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 60px;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-3 .u-image-1 {
    margin-top: 98px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1084px;
    margin-top: -391px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2030px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 78px;
  }

  .u-section-3 .u-group-1 {
    min-height: 1165px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 0;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 29px;
    margin-bottom: -76px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2457px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -388px;
    min-height: 1508px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-text-2 {
    margin-top: 24px;
    margin-bottom: -333px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1204px;
  }

  .u-section-3 .u-text-1 {
    font-weight: 500;
    margin-top: 20px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 216px;
    height: 636px;
    margin-top: 37px;
  }

  .u-section-3 .u-group-1 {
    margin-top: -351px;
    min-height: 694px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-container-layout-1 {
    padding-bottom: 18px;
  }

  .u-section-3 .u-text-2 {
    font-size: 0.75rem;
    font-weight: 500;
    margin-top: 29px;
    margin-bottom: -406px;
  }
} .u-section-4 {
  background-image: linear-gradient(#55bdfc, #aed3f6);
}

.u-section-4 .u-sheet-1 {
  min-height: 876px;
}

.u-section-4 .u-text-1 {
  margin: 48px auto 0;
}

.u-section-4 .u-gallery-1 {
  width: 885px;
  grid-gap: 10px 10px;
  height: 614px;
  margin: 62px auto 60px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 0px 0px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-1 {
  min-height: 100px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-2 {
  min-height: 100px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-3 {
  min-height: 100px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 10px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 30px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 52px;
  height: 52px;
  top: 247px;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  width: 52px;
  height: 52px;
  left: auto;
  top: 247px;
  right: 10px;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 719px;
  }

  .u-section-4 .u-gallery-1 {
    height: 477px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-4 .u-gallery-1 {
    height: 361px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-carousel-control-1 {
    left: 0;
    top: 139px;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-4 .u-gallery-1 {
    height: 225px;
    margin-top: 45px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-4 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-4 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-4 .u-carousel-control-1 {
    top: 95px;
  }

  .u-section-4 .u-carousel-control-2 {
    top: 95px;
  }
}.u-block-dd89-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-dd89-3 {
  position: absolute;
  left: 0;
}

.u-block-dd89-4 {
  position: absolute;
  right: 0;
}

 .u-section-5-1 {
  background-image: linear-gradient(#aed3f6, #55bdfc);
}

.u-section-5-1 .u-sheet-1 {
  min-height: 674px;
}

.u-section-5-1 .u-list-1 {
  width: 1020px;
  margin: 32px auto 60px;
}

.u-section-5-1 .u-repeater-1 {
  min-height: 555px;
  grid-template-columns: calc(33.3333% - 10px) calc(33.3333% - 10px) calc(33.3333% - 10px);
  grid-gap: 15px 15px;
}

.u-section-5-1 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-5-1 .u-group-1 {
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 99px 0 0;
}

.u-section-5-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5-1 .u-text-1 {
  font-size: 1.875rem;
  margin: 181px 30px 0;
}

.u-section-5-1 .u-text-2 {
  font-size: 1.5rem;
  width: 201px;
  margin: 22px auto 0 55px;
}

.u-section-5-1 .u-image-1 {
  width: 232px;
  background-image: url("images/profile_pic.png");
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  background-position: 50% 50%;
  height: auto;
  min-height: 232px;
  margin: -410px auto 0;
}

.u-section-5-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5-1 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-5-1 .u-group-3 {
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 99px 0 0;
}

.u-section-5-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-5-1 .u-text-3 {
  font-size: 1.875rem;
  margin: 181px 30px 0;
}

.u-section-5-1 .u-text-4 {
  font-size: 1.5rem;
  width: 201px;
  margin: 22px auto 0 55px;
}

.u-section-5-1 .u-image-2 {
  width: 232px;
  background-image: url("images/profile_pic.png");
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  background-position: 50% 50%;
  height: auto;
  min-height: 232px;
  margin: -410px auto 0;
}

.u-section-5-1 .u-container-layout-6 {
  padding: 30px;
}

.u-section-5-1 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-5-1 .u-group-5 {
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 99px 0 0;
}

.u-section-5-1 .u-container-layout-8 {
  padding: 30px 0;
}

.u-section-5-1 .u-text-5 {
  font-size: 1.875rem;
  margin: 181px 30px 0;
}

.u-section-5-1 .u-text-6 {
  font-size: 1.5rem;
  width: 201px;
  margin: 22px auto 0 55px;
}

.u-section-5-1 .u-image-3 {
  width: 232px;
  background-image: url("images/profile_pic.png");
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  background-position: 50% 50%;
  height: auto;
  min-height: 232px;
  margin: -410px auto 0;
}

.u-section-5-1 .u-container-layout-9 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5-1 .u-list-1 {
    width: 940px;
  }

  .u-section-5-1 .u-repeater-1 {
    min-height: 510px;
  }

  .u-section-5-1 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-5-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5-1 .u-image-1 {
    height: auto;
  }

  .u-section-5-1 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-5-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5-1 .u-image-2 {
    height: auto;
  }

  .u-section-5-1 .u-group-5 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-5-1 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5-1 .u-image-3 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5-1 .u-list-1 {
    width: 720px;
  }

  .u-section-5-1 .u-repeater-1 {
    min-height: 1200px;
    grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  }
}

@media (max-width: 767px) {
  .u-section-5-1 .u-list-1 {
    width: 540px;
  }

  .u-section-5-1 .u-repeater-1 {
    min-height: 959px;
    grid-template-columns: 100%;
  }

  .u-section-5-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-1 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-1 .u-list-1 {
    width: 340px;
  }

  .u-section-5-1 .u-repeater-1 {
    min-height: 1041px;
    grid-gap: 16px 16px;
  }
}

 .u-section-5-2 {
  background-image: linear-gradient(#aed3f6, #55bdfc);
}

.u-section-5-2 .u-sheet-1 {
  min-height: 674px;
}

.u-section-5-2 .u-list-1 {
  width: 676px;
  margin: 32px auto 60px;
}

.u-section-5-2 .u-repeater-1 {
  min-height: 555px;
  grid-template-columns: calc(50% - 7.5px) calc(50% - 7.5px);
  grid-gap: 15px 15px;
}

.u-section-5-2 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-5-2 .u-group-1 {
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 99px 0 0;
}

.u-section-5-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-5-2 .u-text-1 {
  font-size: 1.875rem;
  margin: 181px 30px 0;
}

.u-section-5-2 .u-text-2 {
  font-size: 1.5rem;
  width: 201px;
  margin: 22px auto 0 55px;
}

.u-section-5-2 .u-image-1 {
  width: 232px;
  background-image: url("images/profile_pic.png");
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  background-position: 50% 50%;
  height: auto;
  min-height: 232px;
  margin: -410px auto 0;
}

.u-section-5-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5-2 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-5-2 .u-group-3 {
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  height: auto;
  margin: 99px 0 0;
}

.u-section-5-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-5-2 .u-text-3 {
  font-size: 1.875rem;
  margin: 181px 30px 0;
}

.u-section-5-2 .u-text-4 {
  font-size: 1.5rem;
  width: 201px;
  margin: 22px auto 0 55px;
}

.u-section-5-2 .u-image-2 {
  width: 232px;
  background-image: url("images/profile_pic.png");
  box-shadow: 5px 5px 34px 0 rgba(0,0,0,0.4);
  background-position: 50% 50%;
  height: auto;
  min-height: 232px;
  margin: -410px auto 0;
}

.u-section-5-2 .u-container-layout-6 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-5-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-5-2 .u-image-1 {
    height: auto;
  }

  .u-section-5-2 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-5-2 .u-image-2 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-5-2 .u-repeater-1 {
    min-height: 1200px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5-2 .u-list-1 {
    width: 540px;
  }

  .u-section-5-2 .u-repeater-1 {
    min-height: 959px;
  }

  .u-section-5-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5-2 .u-sheet-1 {
    min-height: 0;
  }

  .u-section-5-2 .u-list-1 {
    width: 340px;
    margin-bottom: 0;
  }
} .u-section-6 {
  background-image: linear-gradient(#55bdfc, #55bdfc);
}

.u-section-6 .u-sheet-1 {
  min-height: 629px;
}

.u-section-6 .u-text-1 {
  margin: 53px 0 0;
}

.u-section-6 .u-form-1 {
  height: 411px;
  width: 582px;
  margin: 53px auto 60px;
}

.u-section-6 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-6 .u-input-2 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-6 .u-input-3 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 568px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 23px;
    width: 340px;
  }

  .u-section-6 .u-input-1 {
    font-size: 1rem;
  }

  .u-section-6 .u-input-2 {
    font-size: 1rem;
  }

  .u-section-6 .u-input-3 {
    font-size: 1rem;
  }

  .u-section-6 .u-btn-1 {
    font-size: 1rem;
  }
}