.u-section-1 .u-sheet-1 {
  min-height: 849px;
}

.u-section-1 .u-image-1 {
  width: 481px;
  height: 771px;
  object-position: 50% 0.92%;
  margin: 78px 0 0 auto;
}

.u-section-1 .u-text-1 {
  text-shadow: 4px 4px 17px rgba(0,0,0,0.7);
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: 700;
  text-transform: none;
  margin: -659px 385px 0 60px;
}

.u-section-1 .u-text-2 {
  text-shadow: 1px 0px 3px rgba(0,0,0,1);
  font-size: 1.25rem;
  font-weight: normal;
  margin: 26px 570px 0 60px;
}

.u-section-1 .u-btn-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: none;
  font-size: 1.25rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
  margin: 34px auto 60px 60px;
  padding: 20px 50px;
}

.u-section-1 .embed-responsive-1 {
  height: 178%;
  width: 178%;
  left: -39%;
  top: -39%;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 994px;
  }

  .u-section-1 .u-image-1 {
    width: 495px;
    height: 916px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: -703px;
    margin-right: 138px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-right: 430px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 29px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 940px;
  }

  .u-section-1 .u-image-1 {
    width: 456px;
    height: 847px;
    margin-top: 84px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: -604px;
    margin-right: 203px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
    margin-top: 10px;
    margin-right: 218px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 32px;
  }

  .u-section-1 .embed-responsive-1 {
    height: 100%;
    width: 210%;
    left: -55%;
    top: 0%;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 784px;
  }

  .u-section-1 .u-image-1 {
    width: 371px;
    height: 700px;
    margin-top: 83px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -501px;
    margin-right: 139px;
    font-size: 3rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
    margin-top: 23px;
    margin-right: 226px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 23px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 280%;
    left: -90%;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 532px;
  }

  .u-section-1 .u-image-1 {
    width: 221px;
    height: 428px;
    object-position: 50% 0%;
    margin-top: 71px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1.4;
    font-size: 1.875rem;
    margin-top: -307px;
    margin-right: 92px;
  }

  .u-section-1 .u-text-2 {
    font-size: 0.625rem;
    font-weight: 500;
    margin-top: 7px;
    margin-right: 92px;
  }

  .u-section-1 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 21px;
    padding: 9px 20px 11px 18px;
  }

  .u-section-1 .embed-responsive-1 {
    width: 326%;
    left: -113%;
  }
} .u-section-2 {
  background-image: linear-gradient(#75b4ef, #aed3f6);
}

.u-section-2 .u-sheet-1 {
  min-height: 1036px;
}

.u-section-2 .u-shape-1 {
  background-image: linear-gradient(to right, #eaf4fd, #ebf0ff);
  width: 698px;
  height: 149px;
  margin: -74px 15px 0 auto;
}

.u-section-2 .u-text-1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -105px 338px 0 550px;
}

.u-section-2 .u-icon-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(9,22,62,0.4);
  width: 76px;
  height: 76px;
  margin: -41px auto 0 392px;
  padding: 17px;
}

.u-section-2 .u-icon-2 {
  width: 38px;
  height: 38px;
  margin: -63px auto 0 501px;
  padding: 0;
}

.u-section-2 .u-text-2 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: -9px 386px 0 552px;
}

.u-section-2 .u-icon-3 {
  width: 38px;
  height: 38px;
  margin: -61px 248px 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: -47px 75px 0 907px;
}

.u-section-2 .u-text-4 {
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 91px 0 907px;
}

.u-section-2 .u-text-5 {
  font-weight: 600;
  font-size: 3rem;
  margin: 75px 0 0;
}

.u-section-2 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(9,22,62,0.4);
  background-image: none;
  width: 825px;
  height: auto;
  min-height: 394px;
  margin: 36px auto 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 26px 0;
}

.u-section-2 .u-text-6 {
  font-weight: 400;
  font-size: 1.5rem;
  text-shadow: 2px 2px 36px rgba(0,0,0,1);
  margin: 0 48px;
}

.u-section-2 .u-list-1 {
  width: 825px;
  margin: 23px auto 40px;
}

.u-section-2 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  min-height: 375px;
}

.u-section-2 .u-container-layout-2 {
  padding: 10px;
}

.u-section-2 .u-group-2 {
  box-shadow: 5px 5px 20px 0 rgba(9,22,62,0.4);
  background-image: none;
  width: 228px;
  height: auto;
  min-height: 355px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-icon-4 {
  width: 71px;
  height: 71px;
  margin: 53px auto 0;
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 2px 2px 21px rgba(0,0,0,1);
  margin: 33px 15px 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 10px;
}

.u-section-2 .u-group-3 {
  box-shadow: 5px 5px 20px 0 rgba(9,22,62,0.4);
  background-image: none;
  width: 228px;
  height: auto;
  min-height: 355px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-icon-5 {
  width: 71px;
  height: 71px;
  margin: 53px auto 0;
  padding: 0;
}

.u-section-2 .u-text-8 {
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 2px 2px 21px rgba(0,0,0,1);
  margin: 33px 15px 0;
}

.u-section-2 .u-container-layout-6 {
  padding: 10px;
}

.u-section-2 .u-group-4 {
  box-shadow: 5px 5px 20px 0 rgba(9,22,62,0.4);
  background-image: none;
  width: 228px;
  height: auto;
  min-height: 355px;
  margin: 0 auto;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-icon-6 {
  width: 71px;
  height: 71px;
  margin: 53px auto 0;
  padding: 0;
}

.u-section-2 .u-text-9 {
  font-weight: 400;
  font-size: 1rem;
  text-shadow: 2px 2px 21px rgba(0,0,0,1);
  margin: 33px 15px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: 333px;
    margin-left: 355px;
  }

  .u-section-2 .u-icon-1 {
    margin-left: 192px;
  }

  .u-section-2 .u-icon-2 {
    margin-left: 299px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: 382px;
    margin-left: 356px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-right: 71px;
    margin-left: 711px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-right: 89px;
    margin-left: 709px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(33.333333333333336% - 6.66667px);
    grid-template-columns: repeat(3, calc(33.333333333333336% - 6.66667px));
  }

  .u-section-2 .u-group-2 {
    height: auto;
  }

  .u-section-2 .u-group-3 {
    height: auto;
  }

  .u-section-2 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1078px;
  }

  .u-section-2 .u-shape-1 {
    width: 583px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.25rem;
    width: 230px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -40px;
    margin-left: 84px;
    padding: 14px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -64px;
    margin-left: 186px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
    margin-right: 272px;
    margin-left: 246px;
  }

  .u-section-2 .u-icon-3 {
    margin-top: -48px;
    margin-right: 194px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.25rem;
    margin-top: -48px;
    margin-right: 15px;
    margin-left: 547px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
    margin-top: 1px;
    margin-right: 23px;
    margin-left: 555px;
  }

  .u-section-2 .u-text-5 {
    margin-top: 62px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    min-height: 436px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 48px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-repeater-1 {
    grid-gap: 0px 0px;
    grid-auto-columns: 33.3333%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    min-height: 387px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 0 3px;
  }

  .u-section-2 .u-group-2 {
    min-height: 362px;
    margin-top: 31px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding: 0 3px;
  }

  .u-section-2 .u-group-3 {
    min-height: 362px;
    margin-top: 31px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-container-layout-6 {
    padding: 0 3px;
  }

  .u-section-2 .u-group-4 {
    min-height: 362px;
    margin-top: 31px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1536px;
  }

  .u-section-2 .u-shape-1 {
    width: 507px;
    height: 134px;
    margin-right: 0;
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-top: -90px;
    margin-right: 169px;
    margin-left: 141px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -41px;
    margin-left: 0;
    padding: 12px;
  }

  .u-section-2 .u-icon-2 {
    margin-top: -63px;
    margin-left: 96px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 195px;
    margin-left: 143px;
  }

  .u-section-2 .u-icon-3 {
    margin-right: 153px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 0;
    margin-left: 395px;
  }

  .u-section-2 .u-text-4 {
    margin-right: 11px;
    margin-left: 403px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    min-height: 512px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-list-1 {
    margin-bottom: 30px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 50%;
    grid-template-columns: 50% 50%;
    min-height: 793px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-bottom: 9px;
  }

  .u-section-2 .u-group-2 {
    min-height: 351px;
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-icon-4 {
    margin-top: 50px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 36px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-bottom: 9px;
  }

  .u-section-2 .u-group-3 {
    min-height: 351px;
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-icon-5 {
    margin-top: 50px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 36px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-bottom: 9px;
  }

  .u-section-2 .u-group-4 {
    min-height: 351px;
    margin-top: 25px;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 18px;
  }

  .u-section-2 .u-icon-6 {
    margin-top: 50px;
  }

  .u-section-2 .u-text-9 {
    margin-top: 36px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 904px;
  }

  .u-section-2 .u-shape-1 {
    width: 308px;
    height: 63px;
    margin-top: -33px;
  }

  .u-section-2 .u-text-1 {
    font-size: 0.625rem;
    margin-top: -45px;
    margin-right: 122px;
    margin-left: 100px;
  }

  .u-section-2 .u-icon-1 {
    width: 40px;
    height: 40px;
    margin-top: -22px;
    margin-left: 14px;
    padding: 8px;
  }

  .u-section-2 .u-icon-2 {
    width: 20px;
    height: 20px;
    margin-top: -29px;
    margin-left: 72px;
  }

  .u-section-2 .u-text-2 {
    font-size: 0.625rem;
    margin-top: -8px;
    margin-right: 128px;
    margin-left: 100px;
  }

  .u-section-2 .u-icon-3 {
    width: 19px;
    height: 19px;
    margin-top: -28px;
    margin-right: 95px;
    padding: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 0.625rem;
    margin-top: -23px;
    margin-left: 259px;
  }

  .u-section-2 .u-text-4 {
    font-size: 0.625rem;
    margin-top: 0;
    margin-right: 0;
    margin-left: 259px;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.25rem;
    width: auto;
    margin-top: 42px;
  }

  .u-section-2 .u-group-1 {
    min-height: 323px;
    margin-top: 18px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 26px;
  }

  .u-section-2 .u-text-6 {
    font-size: 0.875rem;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 15px;
  }

  .u-section-2 .u-list-1 {
    margin-top: 18px;
    margin-bottom: 0;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    min-height: 465px;
  }

  .u-section-2 .u-group-2 {
    width: 133px;
    min-height: 216px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-4 {
    width: 37px;
    height: 37px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-7 {
    font-size: 0.625rem;
    font-weight: 500;
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-group-3 {
    width: 133px;
    min-height: 216px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-5 {
    width: 37px;
    height: 37px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-8 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }

  .u-section-2 .u-group-4 {
    width: 133px;
    min-height: 216px;
    margin-top: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-2 .u-icon-6 {
    width: 37px;
    height: 37px;
    margin-top: 18px;
  }

  .u-section-2 .u-text-9 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
  }
} .u-section-3 {
  background-image: linear-gradient(#aed3f6, #eaf4fd);
}

.u-section-3 .u-sheet-1 {
  min-height: 1324px;
}

.u-section-3 .u-text-1 {
  font-weight: 600;
  font-size: 3rem;
  margin: 70px 0 0;
}

.u-section-3 .u-text-2 {
  font-weight: 500;
  font-size: 2.25rem;
  margin: 95px 0 0;
}

.u-section-3 .u-blog-1 {
  margin-top: 66px;
  margin-bottom: 0;
  height: auto;
  min-height: 416px;
}

.u-section-3 .u-repeater-1 {
  grid-auto-columns: 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-3 .u-text-3 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-1 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-text-4 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 0 10px;
}

.u-section-3 .u-text-5 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-2 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-text-6 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-3 {
  padding: 0 10px;
}

.u-section-3 .u-text-7 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-3 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-text-8 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-4 {
  padding: 0 10px;
}

.u-section-3 .u-text-9 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-4 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-text-10 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-5 {
  padding: 0 10px;
}

.u-section-3 .u-text-11 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-5 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-12 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-6 {
  padding: 0 10px;
}

.u-section-3 .u-text-13 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-6 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-14 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-7 {
  padding: 0 10px;
}

.u-section-3 .u-text-15 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-7 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-16 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-8 {
  padding: 0 10px;
}

.u-section-3 .u-text-17 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-8 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-18 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-9 {
  padding: 0 10px;
}

.u-section-3 .u-text-19 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-9 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-20 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-10 {
  padding: 0 10px;
}

.u-section-3 .u-text-21 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-10 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-22 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 0;
  width: 43px;
  height: 43px;
  top: 165px;
  padding: 0;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  width: 43px;
  height: 43px;
  left: auto;
  top: 167px;
  right: 0;
  padding: 0;
}

.u-section-3 .u-text-23 {
  font-weight: 500;
  font-size: 2.25rem;
  margin: 56px 0 0;
}

.u-section-3 .u-blog-2 {
  margin-top: 66px;
  margin-bottom: 9px;
}

.u-section-3 .u-repeater-2 {
  grid-auto-columns: 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-gap: 0px 0px;
  min-height: 416px;
}

.u-section-3 .u-container-layout-11 {
  padding: 0 10px;
}

.u-section-3 .u-text-24 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-11 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-text-25 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-12 {
  padding: 0 10px;
}

.u-section-3 .u-text-26 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-12 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-text-27 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-13 {
  padding: 0 10px;
}

.u-section-3 .u-text-28 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-13 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-text-29 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-14 {
  padding: 0 10px;
}

.u-section-3 .u-text-30 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-14 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-3 .u-text-31 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-15 {
  padding: 0 10px;
}

.u-section-3 .u-text-32 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-15 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-33 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-16 {
  padding: 0 10px;
}

.u-section-3 .u-text-34 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-16 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-35 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-17 {
  padding: 0 10px;
}

.u-section-3 .u-text-36 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-17 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-37 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-18 {
  padding: 0 10px;
}

.u-section-3 .u-text-38 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-18 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-39 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-19 {
  padding: 0 10px;
}

.u-section-3 .u-text-40 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-19 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-41 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-container-layout-20 {
  padding: 0 10px;
}

.u-section-3 .u-text-42 {
  margin-top: 0;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-3 .u-image-20 {
  height: 268px;
  margin-top: 15px;
  margin-bottom: 0;
  background-image: url("images/0fd3416c.jpeg");
  background-position: 50% 50%;
}

.u-section-3 .u-text-43 {
  font-size: 1rem;
  margin: 6px 0 0;
}

.u-section-3 .u-gallery-nav-3 {
  position: absolute;
  left: 0;
  width: 43px;
  height: 43px;
  top: 167px;
  padding: 0;
}

.u-section-3 .u-gallery-nav-4 {
  position: absolute;
  width: 43px;
  height: 43px;
  left: auto;
  top: 167px;
  right: 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1258px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 32px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 66px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 25%;
    grid-template-columns: 25% 25% 25% 25%;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }

  .u-section-3 .u-text-10 {
    width: auto;
  }

  .u-section-3 .u-text-12 {
    width: auto;
  }

  .u-section-3 .u-text-14 {
    width: auto;
  }

  .u-section-3 .u-text-16 {
    width: auto;
  }

  .u-section-3 .u-text-18 {
    width: auto;
  }

  .u-section-3 .u-text-20 {
    width: auto;
  }

  .u-section-3 .u-text-22 {
    width: auto;
  }

  .u-section-3 .u-text-23 {
    width: auto;
    margin-top: 66px;
  }

  .u-section-3 .u-blog-2 {
    margin-bottom: 0;
    height: auto;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: 25%;
    grid-template-columns: 25% 25% 25% 25%;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1097px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 41px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 52px;
  }

  .u-section-3 .u-blog-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-1 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-2 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-3 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-4 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-5 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-13 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-6 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-15 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-7 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-17 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-8 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-19 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-9 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-21 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-10 {
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-23 {
    margin-top: -35px;
  }

  .u-section-3 .u-blog-2 {
    margin-top: 38px;
    margin-bottom: 1px;
    min-height: 416px;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: 33.333333333333336%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
  }

  .u-section-3 .u-image-11 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-12 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-13 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-14 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-15 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-16 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-17 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-18 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-19 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-image-20 {
    height: 267px;
    width: 202px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 938px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 1px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: 33.3333%;
    min-height: 332px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-1 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-2 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-3 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-4 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-text-11 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-5 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-text-13 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-6 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-text-15 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-7 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-text-17 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-8 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-text-19 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-9 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-text-21 {
    font-size: 1.125rem;
  }

  .u-section-3 .u-image-10 {
    height: 211px;
    width: 158px;
  }

  .u-section-3 .u-gallery-nav-1 {
    width: 29px;
    height: 29px;
    top: 132px;
  }

  .u-section-3 .u-gallery-nav-2 {
    width: 29px;
    height: 29px;
    top: 124px;
  }

  .u-section-3 .u-text-23 {
    margin-top: 0;
  }

  .u-section-3 .u-repeater-2 {
    grid-auto-columns: 33.3333%;
    min-height: 327px;
  }

  .u-section-3 .u-text-24 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-11 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-text-26 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-12 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-text-28 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-13 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-text-30 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-14 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-text-32 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-15 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-text-34 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-16 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-text-36 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-17 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-text-38 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-18 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-text-40 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-19 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-text-42 {
    font-size: 1.125rem;
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-image-20 {
    height: 212px;
    width: 100%;
  }

  .u-section-3 .u-gallery-nav-3 {
    width: 29px;
    height: 29px;
    top: 137px;
  }

  .u-section-3 .u-gallery-nav-4 {
    width: 29px;
    height: 29px;
    top: 127px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 656px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 229px;
  }

  .u-section-3 .u-text-3 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-1 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-4 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-2 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-6 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-3 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-8 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-4 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-10 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-11 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-5 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-12 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-13 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-6 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-14 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-15 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-7 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-16 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-17 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-8 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-18 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-19 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-9 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-20 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-21 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-10 {
    height: 130px;
    width: 92px;
  }

  .u-section-3 .u-text-22 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-gallery-nav-1 {
    width: 17px;
    height: 17px;
    top: 98px;
  }

  .u-section-3 .u-gallery-nav-2 {
    width: 17px;
    height: 17px;
    top: 98px;
  }

  .u-section-3 .u-text-23 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-blog-2 {
    min-height: 254px;
  }

  .u-section-3 .u-repeater-2 {
    min-height: 254px;
  }

  .u-section-3 .u-text-24 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-11 {
    height: 130px;
  }

  .u-section-3 .u-text-25 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-26 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-12 {
    height: 130px;
  }

  .u-section-3 .u-text-27 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-28 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-13 {
    height: 130px;
  }

  .u-section-3 .u-text-29 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-30 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-14 {
    height: 130px;
  }

  .u-section-3 .u-text-31 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-32 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-15 {
    height: 130px;
  }

  .u-section-3 .u-text-33 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-34 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-16 {
    height: 130px;
  }

  .u-section-3 .u-text-35 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-36 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-17 {
    height: 130px;
  }

  .u-section-3 .u-text-37 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-38 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-18 {
    height: 130px;
  }

  .u-section-3 .u-text-39 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-40 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-19 {
    height: 130px;
  }

  .u-section-3 .u-text-41 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-text-42 {
    font-size: 0.75rem;
  }

  .u-section-3 .u-image-20 {
    height: 130px;
  }

  .u-section-3 .u-text-43 {
    font-size: 0.625rem;
  }

  .u-section-3 .u-gallery-nav-3 {
    width: 17px;
    height: 17px;
    top: 98px;
  }

  .u-section-3 .u-gallery-nav-4 {
    width: 17px;
    height: 17px;
    top: 97px;
  }
} .u-section-4 {
  background-image: linear-gradient(#eaf4fd, #55bdfc);
}

.u-section-4 .u-sheet-1 {
  min-height: 1958px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  margin: 27px 0 0;
}

.u-section-4 .u-image-1 {
  width: 652px;
  height: 712px;
  object-position: 50% 0%;
  margin: 48px auto 0 231px;
}

.u-section-4 .u-group-1 {
  box-shadow: 5px 5px 20px 0 rgba(9,22,62,0.4);
  background-image: none;
  width: 800px;
  height: auto;
  min-height: 1160px;
  margin: -117px auto 24px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-weight: 400;
  font-size: 1.5rem;
  text-shadow: 2px 2px 32px rgba(0,0,0,1);
  margin: 29px 48px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1956px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-4 .u-image-1 {
    margin-left: auto;
  }

  .u-section-4 .u-group-1 {
    min-height: 1161px;
    height: auto;
  }

  .u-section-4 .u-container-layout-1 {
    padding-bottom: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2030px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 20px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 46px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -122px;
    margin-bottom: 60px;
    min-height: 1165px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin-right: 46px;
    margin-left: 24px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2380px;
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 590px;
  }

  .u-section-4 .u-group-1 {
    min-height: 1508px;
    margin-top: -47px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1091px;
  }

  .u-section-4 .u-text-1 {
    font-weight: 500;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-image-1 {
    width: 216px;
    height: 254px;
  }

  .u-section-4 .u-group-1 {
    margin-top: -28px;
    margin-bottom: 20px;
    min-height: 712px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 18px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    font-weight: 500;
    margin-left: 18px;
    margin-right: 18px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 305px;
}

.u-section-5 .u-list-1 {
  width: 965px;
  margin: 0 auto 47px;
}

.u-section-5 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  min-height: 258px;
}

.u-section-5 .u-container-layout-1 {
  padding: 0;
}

.u-section-5 .u-image-1 {
  height: 255px;
  width: 201px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-2 {
  padding: 0;
}

.u-section-5 .u-image-2 {
  height: 255px;
  width: 201px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-3 {
  padding: 0;
}

.u-section-5 .u-image-3 {
  height: 255px;
  width: 201px;
  margin: 0 auto;
}

.u-section-5 .u-container-layout-4 {
  padding: 0;
}

.u-section-5 .u-image-4 {
  height: 255px;
  width: 201px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 251px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-1 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-2 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-3 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-5 .u-image-4 {
    --animation-custom_in-translate_x: 0px;
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-opacity: 0;
    --animation-custom_in-rotate: 0deg;
    --animation-custom_in-scale: 1;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 210px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 210px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-2 {
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-5 .u-container-layout-4 {
    padding-bottom: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 161px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-repeater-1 {
    grid-gap: 0px 0px;
    grid-template-columns: 25% 25% 25% 25%;
    min-height: 161px;
    grid-auto-columns: 25%;
  }

  .u-section-5 .u-image-1 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-3 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-5 .u-image-4 {
    height: 142px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 183px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 183px;
    grid-template-columns: repeat(2, 50%);
  }

  .u-section-5 .u-container-layout-1 {
    padding-top: 0;
  }

  .u-section-5 .u-image-1 {
    height: 165px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-5 .u-image-2 {
    height: 165px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-3 {
    padding-top: 0;
  }

  .u-section-5 .u-image-3 {
    height: 165px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-container-layout-4 {
    padding-top: 0;
  }

  .u-section-5 .u-image-4 {
    height: 165px;
    margin-top: 1px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 625px;
}

.u-section-6 .u-image-1 {
  width: 416px;
  object-position: 50% 54.52%;
  left: auto;
  right: 0;
}

.u-section-6 .u-text-1 {
  font-weight: 400;
  margin: 35px 0 0 20px;
}

.u-section-6 .u-image-2 {
  width: 466px;
  height: 466px;
  margin: 20px auto 0 175px;
}

.u-section-6 .u-image-3 {
  width: 431px;
  height: 135px;
  margin: -363px auto 60px 272px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-text-1 {
    margin-top: 1px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .u-section-6 .u-image-2 {
    margin-right: 210px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -403px;
    margin-left: 280px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-text-1 {
    margin-top: -5px;
    margin-left: 210px;
    margin-right: 210px;
  }

  .u-section-6 .u-image-2 {
    margin-top: 3px;
  }

  .u-section-6 .u-image-3 {
    margin-top: -386px;
    margin-left: 210px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-text-1 {
    margin-top: 158px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .u-section-6 .u-image-2 {
    margin-top: -1408px;
    margin-right: auto;
    margin-left: 300px;
  }

  .u-section-6 .u-image-3 {
    margin-top: 1025px;
    margin-left: 300px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    margin-top: 221px;
    margin-left: 400px;
    margin-right: 400px;
  }

  .u-section-6 .u-image-2 {
    width: 340px;
    height: 340px;
    margin-top: -988px;
    margin-left: 400px;
  }

  .u-section-6 .u-image-3 {
    width: 340px;
    height: 106px;
    margin-top: 731px;
    margin-left: 400px;
  }
} .u-section-7 {
  background-image: linear-gradient(#55bdfc, #eaf4fd);
}

.u-section-7 .u-sheet-1 {
  min-height: 633px;
}

.u-section-7 .u-text-1 {
  width: 328px;
  font-size: 3rem;
  margin: 22px auto 0;
}

.u-section-7 .u-list-1 {
  grid-template-rows: auto;
  width: 855px;
  margin: 39px auto 60px;
}

.u-section-7 .u-repeater-1 {
  grid-template-columns: 33.3333% 33.3333% 33.3333%;
  min-height: 407px;
  grid-gap: 0px 0px;
  grid-auto-columns: 33.3333%;
}

.u-section-7 .u-container-layout-1 {
  padding: 20px 10px;
}

.u-section-7 .u-group-1 {
  width: 244px;
  height: 284px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-2 {
  padding: 0;
}

.u-section-7 .u-image-1 {
  height: 175px;
  width: 175px;
  object-position: 50% 0%;
  margin: -45px auto 0;
}

.u-section-7 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 201px;
  margin: 46px auto 0;
}

.u-section-7 .u-text-3 {
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-7 .u-container-layout-3 {
  padding: 20px 10px;
}

.u-section-7 .u-group-2 {
  width: 244px;
  height: 284px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-4 {
  padding: 0;
}

.u-section-7 .u-image-2 {
  height: 175px;
  width: 175px;
  object-position: 50% 35.02%;
  margin: -45px auto 0;
}

.u-section-7 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 201px;
  margin: 46px auto 0;
}

.u-section-7 .u-text-5 {
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-7 .u-container-layout-5 {
  padding: 20px 10px;
}

.u-section-7 .u-group-3 {
  width: 244px;
  height: 284px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-6 {
  padding: 0;
}

.u-section-7 .u-image-3 {
  height: 175px;
  width: 175px;
  margin: -45px auto 0;
}

.u-section-7 .u-text-6 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 201px;
  margin: 46px auto 0;
}

.u-section-7 .u-text-7 {
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-7 .u-container-layout-7 {
  padding: 20px 10px;
}

.u-section-7 .u-group-4 {
  width: 244px;
  height: 284px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-8 {
  padding: 0;
}

.u-section-7 .u-image-4 {
  height: 175px;
  width: 175px;
  margin: -45px auto 0;
}

.u-section-7 .u-text-8 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 201px;
  margin: 46px auto 0;
}

.u-section-7 .u-text-9 {
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-7 .u-container-layout-9 {
  padding: 20px 10px;
}

.u-section-7 .u-group-5 {
  width: 244px;
  height: 284px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-10 {
  padding: 0;
}

.u-section-7 .u-image-5 {
  height: 175px;
  width: 175px;
  margin: -45px auto 0;
}

.u-section-7 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 201px;
  margin: 46px auto 0;
}

.u-section-7 .u-text-11 {
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-7 .u-container-layout-11 {
  padding: 20px 10px;
}

.u-section-7 .u-group-6 {
  width: 244px;
  height: 284px;
  margin: 0 auto;
}

.u-section-7 .u-container-layout-12 {
  padding: 0;
}

.u-section-7 .u-image-6 {
  height: 175px;
  width: 175px;
  margin: -45px auto 0;
}

.u-section-7 .u-text-12 {
  font-weight: 700;
  font-size: 1.25rem;
  width: 201px;
  margin: 46px auto 0;
}

.u-section-7 .u-text-13 {
  font-size: 1rem;
  margin: 10px auto 0;
}

.u-section-7 .u-gallery-nav-1 {
  position: absolute;
  left: -11px;
  width: 43px;
  height: 43px;
  top: 179px;
}

.u-section-7 .u-gallery-nav-2 {
  position: absolute;
  width: 43px;
  height: 43px;
  left: auto;
  top: 176px;
  right: -10px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 520px;
  }

  .u-section-7 .u-list-1 {
    min-height: 407px;
    margin-bottom: 0;
  }

  .u-section-7 .u-repeater-1 {
    grid-auto-columns: 33.333333333333336%;
  }

  .u-section-7 .u-group-1 {
    width: 216px;
    min-height: 250px;
    margin-top: 58px;
    height: auto;
  }

  .u-section-7 .u-text-2 {
    width: auto;
    margin-top: 22px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-text-3 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-7 .u-group-2 {
    width: 216px;
    min-height: 250px;
    margin-top: 58px;
    height: auto;
  }

  .u-section-7 .u-text-4 {
    width: auto;
    margin-top: 22px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-text-5 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-7 .u-group-3 {
    width: 216px;
    min-height: 250px;
    margin-top: 58px;
    height: auto;
  }

  .u-section-7 .u-text-6 {
    width: auto;
    margin-top: 22px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-text-7 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-7 .u-group-4 {
    width: 216px;
    min-height: 250px;
    margin-top: 58px;
    height: auto;
  }

  .u-section-7 .u-text-8 {
    width: auto;
    margin-top: 22px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-text-9 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-7 .u-group-5 {
    width: 216px;
    min-height: 250px;
    margin-top: 58px;
    height: auto;
  }

  .u-section-7 .u-text-10 {
    width: auto;
    margin-top: 22px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-text-11 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-7 .u-group-6 {
    width: 216px;
    min-height: 250px;
    margin-top: 58px;
    height: auto;
  }

  .u-section-7 .u-text-12 {
    width: auto;
    margin-top: 22px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-7 .u-text-13 {
    width: auto;
    margin-top: 7px;
  }

  .u-section-7 .u-gallery-nav-2 {
    top: 189px;
    right: -5px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 524px;
  }

  .u-section-7 .u-list-1 {
    margin-bottom: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 389px;
    grid-auto-columns: 33.3333%;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 596px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-7 .u-list-1 {
    min-height: 502px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 502px;
    grid-template-columns: 50% 50%;
    grid-auto-columns: 50%;
  }

  .u-section-7 .u-group-1 {
    margin-top: 0;
  }

  .u-section-7 .u-group-2 {
    margin-top: 0;
  }

  .u-section-7 .u-group-3 {
    margin-top: 0;
  }

  .u-section-7 .u-group-4 {
    margin-top: 0;
  }

  .u-section-7 .u-group-5 {
    margin-top: 0;
  }

  .u-section-7 .u-group-6 {
    margin-top: 0;
  }

  .u-section-7 .u-gallery-nav-1 {
    top: 219px;
  }

  .u-section-7 .u-gallery-nav-2 {
    top: 218px;
    right: -9px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-7 .u-text-1 {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-7 .u-list-1 {
    min-height: 281px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-7 .u-repeater-1 {
    min-height: 282px;
    grid-gap: 10px 10px;
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-group-1 {
    width: 157px;
    min-height: 186px;
  }

  .u-section-7 .u-image-1 {
    height: 115px;
    width: 115px;
    margin-top: -46px;
  }

  .u-section-7 .u-text-2 {
    font-size: 0.875rem;
    width: 123px;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 9px;
  }

  .u-section-7 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-group-2 {
    width: 157px;
    min-height: 186px;
  }

  .u-section-7 .u-image-2 {
    height: 115px;
    width: 115px;
  }

  .u-section-7 .u-text-4 {
    width: 123px;
    font-size: 0.875rem;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-5 {
    font-size: 0.75rem;
    margin-top: 9px;
  }

  .u-section-7 .u-container-layout-5 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-group-3 {
    width: 157px;
    min-height: 186px;
  }

  .u-section-7 .u-image-3 {
    height: 115px;
    width: 115px;
  }

  .u-section-7 .u-text-6 {
    width: 123px;
    font-size: 0.875rem;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-7 {
    font-size: 0.75rem;
    margin-top: 9px;
  }

  .u-section-7 .u-container-layout-7 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-group-4 {
    width: 157px;
    min-height: 186px;
  }

  .u-section-7 .u-image-4 {
    height: 115px;
    width: 115px;
  }

  .u-section-7 .u-text-8 {
    width: 123px;
    font-size: 0.875rem;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-9 {
    font-size: 0.75rem;
    margin-top: 9px;
  }

  .u-section-7 .u-container-layout-9 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-group-5 {
    width: 157px;
    min-height: 186px;
  }

  .u-section-7 .u-image-5 {
    height: 115px;
    width: 115px;
  }

  .u-section-7 .u-text-10 {
    width: 123px;
    font-size: 0.875rem;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-11 {
    font-size: 0.75rem;
    margin-top: 9px;
  }

  .u-section-7 .u-container-layout-11 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-7 .u-group-6 {
    width: 157px;
    min-height: 186px;
  }

  .u-section-7 .u-image-6 {
    height: 115px;
    width: 115px;
  }

  .u-section-7 .u-text-12 {
    width: 123px;
    font-size: 0.875rem;
    margin-top: 18px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-7 .u-text-13 {
    font-size: 0.75rem;
    margin-top: 9px;
  }

  .u-section-7 .u-gallery-nav-1 {
    left: 2px;
    top: 138px;
  }

  .u-section-7 .u-gallery-nav-2 {
    top: 123px;
    right: 0;
  }
} .u-section-8 {
  background-image: linear-gradient(#eaf4fd, #aed3f6);
}

.u-section-8 .u-sheet-1 {
  min-height: 876px;
}

.u-section-8 .u-text-1 {
  margin: 48px auto 0;
}

.u-section-8 .u-gallery-1 {
  width: 885px;
  grid-gap: 10px 10px;
  height: 614px;
  margin: 62px auto 60px;
}

.u-section-8 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
  grid-gap: 0px 0px;
}

.u-section-8 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-1 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-2 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-3 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-8 .u-over-slide-4 {
  min-height: 100px;
  padding: 10px;
}

.u-section-8 .u-carousel-thumbnails-1 {
  padding-top: 10px;
}

.u-section-8 .u-carousel-thumbnail-1 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-2 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-3 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-thumbnail-4 {
  width: 100px;
  height: 100px;
}

.u-section-8 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 52px;
  height: 52px;
  top: 247px;
  right: auto;
}

.u-section-8 .u-carousel-control-2 {
  position: absolute;
  width: 52px;
  height: 52px;
  left: auto;
  top: 247px;
  right: 10px;
}

@media (max-width: 991px) {
  .u-section-8 .u-gallery-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 583px;
  }

  .u-section-8 .u-gallery-1 {
    margin-bottom: 0;
    height: 421px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-carousel-control-1 {
    left: 0;
    top: 139px;
  }

  .u-section-8 .u-carousel-control-2 {
    top: 139px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-8 .u-gallery-1 {
    height: 289px;
    margin-top: 45px;
    margin-bottom: 38px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-over-slide-1 {
    padding: 12px;
  }

  .u-section-8 .u-over-slide-2 {
    padding: 12px;
  }

  .u-section-8 .u-over-slide-3 {
    padding: 12px;
  }

  .u-section-8 .u-over-slide-4 {
    padding: 12px;
  }

  .u-section-8 .u-carousel-thumbnail-1 {
    width: 50px;
    height: 50px;
  }

  .u-section-8 .u-carousel-thumbnail-2 {
    width: 50px;
    height: 50px;
  }

  .u-section-8 .u-carousel-thumbnail-3 {
    width: 50px;
    height: 50px;
  }

  .u-section-8 .u-carousel-thumbnail-4 {
    width: 50px;
    height: 50px;
  }

  .u-section-8 .u-carousel-control-1 {
    top: 95px;
  }

  .u-section-8 .u-carousel-control-2 {
    top: 95px;
  }
} .u-section-9 {
  background-image: linear-gradient(#aed3f6, #55bdfc);
}

.u-section-9 .u-sheet-1 {
  min-height: 629px;
}

.u-section-9 .u-text-1 {
  margin: 53px 0 0;
}

.u-section-9 .u-form-1 {
  height: 411px;
  width: 582px;
  margin: 53px auto 60px;
}

.u-section-9 .u-input-1 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-9 .u-input-2 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-9 .u-form-group-3 {
  margin-left: 0;
}

.u-section-9 .u-input-3 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-9 .u-input-4 {
  background-image: none;
  font-size: 1.125rem;
}

.u-section-9 .u-btn-1 {
  background-image: none;
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-9 .u-text-1 {
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-text-1 {
    margin-top: 72px;
  }

  .u-section-9 .u-form-1 {
    margin-top: 23px;
    width: 340px;
  }

  .u-section-9 .u-input-1 {
    font-size: 1rem;
  }

  .u-section-9 .u-input-2 {
    font-size: 1rem;
  }

  .u-section-9 .u-input-3 {
    font-size: 1rem;
  }

  .u-section-9 .u-input-4 {
    font-size: 1rem;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1rem;
  }
}.modal-wrap,
.modal-bg,
.modal-content{
  display: none;
  position: fixed;
}
.modal-wrap,
.modal-bg{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.modal-wrap{
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0);
}
.modal-bg{
  background: rgba(0,0,0,.6);
}
.modal-content{
  text-align: right;
  padding: 10px;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  margin: -150px 0 0 -200px;
  background: white;
  border-radius: 9px;
}
.modal-close{
  display: inline-block;
  padding: 10px;
  cursor: pointer;
}